{% extends "base.html" %}
{% block titel %}Winst &amp; verlies{% endblock %}
{% block inhoud %}
<div class="balk">
  <h1>Winst- en verliesrekening</h1>
  <form method="get" action="/winst-en-verlies">
    <select name="jaar" onchange="this.form.submit()">
      {% for j in jaren %}<option value="{{ j }}" {{ 'selected' if j == jaar }}>{{ j }}</option>{% endfor %}
    </select>
  </form>
</div>
<p><strong>Winst: &euro; {{ winst|euro }}</strong></p>
<div class="velden">
  <div class="paneel">
    <h2>Opbrengsten</h2>
    <table>
      {% for naam, bedrag in opbrengsten %}<tr><td>{{ naam }}</td><td class="r">&euro; {{ bedrag|euro }}</td></tr>{% endfor %}
      <tfoot><tr><td>Totaal</td><td class="r">&euro; {{ totaal_opbrengsten|euro }}</td></tr></tfoot>
    </table>
  </div>
  <div class="paneel">
    <h2>Kosten</h2>
    <table>
      {% for naam, bedrag in kosten %}<tr><td>{{ naam }}</td><td class="r">&euro; {{ bedrag|euro }}</td></tr>{% endfor %}
      <tfoot><tr><td>Totaal</td><td class="r">&euro; {{ totaal_kosten|euro }}</td></tr></tfoot>
    </table>
  </div>
</div>
{% endblock %}
